.app-wrapper {
	max-width: 1000px;
	margin: 0 auto;
	background: #f3f7fa;
}

.main-wrapper {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	margin: 0 100px;
}

@media (max-width: 760px) {
	.main-wrapper {
		flex-direction: column;
		margin: 0 15px;
	}
}